* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html {
  height: 100%;
  font-size: 1.125rem;
}
body {
  padding: 0;
  margin :0;
}

h1 {
  font-size: 2rem;
}

strong {
  color: hsl(160deg, 100%, 30%)

}

.max-width-wrapper {
  margin: 0, auto;
  max-width: 800px;
  padding: 0px 32px;
}

.indented-heading{
  display: inline-block;
  width: fit-content;
  margin-left: -12px;
  padding : 16px 24px;
  background-color:hsl(45deg, 100%, 50%);
  border-bottom: solid 4px hsl(45deg, 100%, 40%);
}

.max-width-wrapper .intro-chunk {
  background-color: white;
  margin: 0, auto;
  width : 100%;
}

main {
  background-color: hsl(0deg, 0%, 60%);
  border-top: solid 4px hsl(0deg, 0%, 20%);
  padding: 48px 0;
}

.intro-chunk{
  background-color: white;
  display : block;
  margin-left: auto;
  margin-right:auto;
  padding-top: 48px;
  max-width: 500px;
}

.intro-chunk .title {
  margin-bottom: 32px;
}

.intro-chunk p {
  max-width: 300px;
  margin-bottom: 48px;
}

.card {
  background-color: white;
  width: 600px;
  margin: 48px auto;
  border-bottom: solid 4px hsl(0deg, 0%, 30%);
}

.card p {
  padding : 16px;
}